@charset "UTF-8";

@media screen and (min-width: 1224px) {

    /* HEADER */
    .lista-menu {
        font-size: 1.2rem;
        margin: 3em 2em 2em 2em;
    }

    .lista-menu__links:hover {
        text-decoration: underline;
        font-size: 1.3rem;
        transition: .5s;
    }

    /* CONTAINER */
    .container {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 2em;
        padding: 5% 10%;
        gap: 10em;
    }

    /* HOME */
    .container__image {
        margin-top: 0;
    }

    .apresentacao__titulo {
        font-size: 2rem;

        padding-left: 1.5em;
    }

    .apresentacao__texto {
        font-size: 1.5rem;
        line-height: 1.2em;

        padding-right: 0;
    }

    .botoes__texto {
        font-size: 1.5rem;
        margin: 1em;
    }

    .botoes__links {
        font-size: 1.5rem;
    
        padding: .5em;
        width: 50%;
    }

    .botoes__links:hover {
        padding: .8em;
        transition: .5s;
    }

    /* CURRÍCULO */
    .curriculo__texto {
        font-size: 1.5em;
    }

    /* PROJETOS */
    .container-projetos {
        margin: 0;
    }

    .projetos-container {
        padding: 0;
    }
    
    .projetos__titulo {
        font-size: 3rem;
        padding-top: 0;
    }

    .projetos-lista {    
        list-style-type: none;
        margin-left: 0;
    }

    .projetos-lista__menu {
        text-align: center;
        margin: 1em 1em;
    }
    
    .lista__menu__titulo {
        font-size: 1.5rem;
    }
    
    .lista-menu__images {
        margin-top: 1em;
        width: 50%;
    }


    /* TODOS-PROJETOS */ 
    .todos-projetos__titulo {
        font-size: 2rem;    
        margin: 0 2em 0 2em;
    }
    
    .todos-projetos__texto {
        font-size: 1.5rem;
    }

    .todos-projetos__image-acesso {
        font-size: .8em;
    }
    
    .todos-projetos__texto-final {
        font-size: .8rem;
    }
    
    .todos-projetos__botao {
        width: 50%;
    }
    
    /* FOOTER */
    .rodape {
        margin-top: 2em;
    }
}
