@charset "UTF-8";

@media screen and (min-width: 184.37rem) and (max-width: 240.62rem) {
    /* SOBRE */
    .sobre__texto {
        padding: 0 25%;
    }

    /* CURRÍCULO */
    .curriculo__texto {
        padding: 0 25%;
    }

    .curriculo__link {
        width: 50%;
    }
}
