@charset "UTF-8";

.container-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2em;

    margin: 0 1em;
}

.projetos-lista {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--cor-secundaria);
    text-align: center;
    margin-left: 1em;
}

.projetos-lista__menu {
    margin: 1em 1em;
}

.primeiro-titulo{
    padding-top: 2em;
}

.lista__menu__titulo {
    font-family: var(--fonte-primaria);
    font-size: 1rem;

    color: var(--cor-secundaria);
}

.lista-menu__images {
    padding-top: 1em;
    width: 100%;
}